*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
Gemfile.lock
settings.ini
_posts/2022-08-23-My-Fastpage.md
.gitignore
_posts/2022-08-28-bash.md
_posts/2022-08-28-my-quiz.md
_posts/2022-09-01-List.md
_posts/2022-09-16-docker-server.md
_posts/2022-09-20-CollaborationNotes.md
_posts/2022-12-02-unit3-9-11.md
_posts/2022-12-02-Week-1-Lessons-Notes.md
_posts/2022-12-04-lesson3.12_3.13.md
_posts/2022-12-09-Lesson-6-Hacks.md
_posts/2022-12-11-Lesson-Unit-3-Section-14-15.md
_posts/2022-12-12-Unit-3-Lesson-7-Hacks.md
_posts/2022-11-28-Unit_3.8_3.10.md
_posts/2022-11-28-Quinn&Group.md
.gitignore
_posts/2022-12-15-Notebook-Check-3.md
_posts/2023-01-12-Model-and-OOP.md
_posts/2022-12-14-Lesson-9-Hacks.md
_posts/2023-01-17-PBL-database.md
_posts/2023-03-07-Unit-2.2-Data-Compression-Images.md
